.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1vw 4vw;
    border-bottom: 1px solid gray;
}

.navbar-left{
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-size: 2vw;
    font-weight: 800;
}

.navbar-right{
    margin-right:5vw;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:4vw;
}

.navbar-item{
    background-color:white;
    /* color:white; */
    font-family:'Courier New', Courier, monospace; 
    /* font-weight: 300; */
    padding:12px 27px;
    border-radius: 30px;
    cursor:pointer;
}

.navbar-item-all{
    /* background-color: aqua; */
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
    margin-right: 8vw;
}

.navbar-logout{
    background-color:white;
    padding:10px 25px;
    border-radius: 30px;
    cursor:pointer;
    
}

.navbar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.navlink{
    text-decoration: none;
    color: black;
}

.navbar-item:hover , .navbar-logout:hover{
    background-color: #1a181841;
    transition: 0.15s;
    color:white
}